@use '_colors.scss' as c;
@use '_values.scss' as v;

.content{
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .form-box{
            display: flex;
            flex-direction: column;
            label{
                font-size: 14px;
            }
            input[type=text], input[type=date], textarea{
                border: 2px solid c.$text-base;
                height: 47px;
                border-radius: 10px;
                padding: 0 20px;
                font-size: 16px;
                font-family: inherit;

                &:focus-visible, &:focus, &:focus-within, &:target{
                    outline: none;
                    border: 2px solid c.$text-variant !important;
                }
            }
            textarea{
                padding: 20px;
                resize: vertical;
            }

            
        }
        button{
            background-color: c.$text-variant;
            height: 47px;
            margin-top: 10px;
            border-radius: 10px;
            border: 2px solid c.$text-variant;
            color: #FFF;
            font-weight: bold;
            font-size: 16px;

            &:hover{
                cursor: pointer;
                background-color: #FFF;
                color: c.$text-variant;
            }
        }
    }
}

//TABLETTE
@media screen and (min-width: v.$sm) {
    .App{
      .container{
        .content{            
            form{
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                gap: 20px;

                .form-box{
                    width: 100%;
                }

                .form-box:nth-child(-n + 2){
                   width: calc(50% - 10px);
                }

                button{
                    width: 50%;
                }
            }
        }
      }
    }
  }